a {
  text-decoration: none;
}

.buyButton {
    width: 50px;
    height: 30px;
    padding-top: 3px;
    text-align: center;
    font: 15px arial, sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgb(236, 125, 236) ;
    border-radius: 5px;
}